
.Profile-Dropdown{
    height: 35px;
    width:35px;
    margin-right: 10px;
    position:relative; 
}
.Profile-Dropdown .profile-icon {
    width: 35px;
    cursor: pointer;
  }

  .Profile-Dropdown .menu-dropdown {
    right:0px;
    padding-left: 0px;
    position: absolute;
    font-family: "Proto Mono";
    z-index: 100;
    color: white;
    font-size: 17px;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid grey;
    border-radius: 15px;
    display: block;
    cursor: pointer;
    width: 200px;
    
    transform-origin: center top;
    overflow: hidden;
    margin-top:20px;
  }
  .Profile-Dropdown .menu-dropdown-wrapper{
    z-index: 100;   
    position: absolute;
    top:30px;
    right: 0px;
    width: 200px;
    height: 50px;
    transform: scale(0.01);
    transform-origin: right top;
    opacity: 0;
    padding-top:3px;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .Profile-Dropdown:hover .menu-dropdown-wrapper{
    transform: scale(1);
    opacity: 1;
  }


  .Profile-Dropdown .option{
    margin-top: 10px;
  }

  .Profile-Dropdown .menu-dropdown .option:last-child{
    margin-bottom:10px
  }