
.navbar {
    display: flex;
    padding: 10px;
    align-items: center;
}

.nav-item {
    color: white;
    padding: 0 10px;
    font-size: 14px;
    font-family: 'Proto Mono';
    cursor: pointer;
    position: relative; 
}

.nav-item:hover {
    -webkit-text-stroke-width: 0.42px;
    -webkit-text-stroke-color: #FEBB3B;
    text-shadow: 0px 2px 20px #F7A64C,0px -2px 20px #F7A64C;
}

.nav-item.active{
    -webkit-text-stroke-width: 0.42px;
    -webkit-text-stroke-color: #FEBB3B;
    text-shadow: 0px 2px 20px #F7A64C,0px -2px 20px #F7A64C;
}

.nav-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 17px;
    border-right: 2px solid #800080;
}
