.Referral-User {
    display: flex;
    border-bottom: dashed white 2px;
    margin: 0px 45px;
}

.Referral-User .profile-pic{
    width:30px;
}

.Referral-User p{
    color: #bcbcbc;
}
.Referral-User .users{
    display: flex;
    align-items: center;
}

.Referral-User .users p{
    margin-left: 5px;
}

.Referral-User .time{
    margin-left: 500px;
    display: flex;
    align-items: center;
}

.Referral-User .time p{
    margin-left: 5px;
}
