.rooms-available-text{
    color: #E34283;
    text-shadow: 2px 5px 18.4px #C80E9F;
    font-family: "Proto Mono";
    font-size: 25px;
    font-style: normal; 
    margin-left: 30px;
    margin-top: 25px;
}

.rooms{
    display: flex;
    justify-content: space-evenly;
}